<ul>
  <li><strong>Hordes:</strong> {{calc.hordes}}</li>
  <li><strong>Individual Pokémon:</strong> {{calc.individuals}}</li>
  <li><strong>Individual Pokémon to fight without a held item:</strong> {{calc.itemless}}</li>
  {{#if calc.remaining_evs}}
  <li><strong>Effort values unobtainable:</strong> {{calc.remaining_evs}}</li>
  {{/if}}
</ul>
<p>
  Where do you find the right horde for your stat?
  See the <a href="http://nuggetbridge.com/articles/ev-training-horde-hotspots-pokemon-omega-ruby-alpha-sapphire/" target="_blank">Nugget Bridge EV Training</a> article.
</p>
